<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>bl0g.sh</title>
		
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/index/index.css') }}">
	</head>
	<body>
		<header>
			{% include 'components/navbar.html' %}
		</header>

		<main>
			<h1 class="blog-title">bl0g.sh</h1>
			<h2 class="blog-description typewriter">hoje, codar é tipo um hobby.</h2>
		</main>

		<footer id="global-footer">
			<p>$ ./blog.sh --version=1.0</p>
		</footer>
	</body>
</html>